@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  display: flex;
  flex-direction:column;
  min-height:100vh;
}

button, [type='button'], [type='submit']
{
  color: #fff;
  background-color: #0958d9;
}

.fon{
	background-image: url('../public/background/fon-mobil.webp');
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 0;
}

.fon:after{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	background: #000;
	opacity: .4;
	z-index: -1;
}
.fon2{
	background-image: url('../public/background/fon.webp');
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 0;
}

.fon2:after{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	background: #000;
	opacity: .4;
	z-index: -1;
}